<div class="visitor-page"> 

 

  <h1>Visitors</h1> 

 

  <table> 

 

    <thead> 

      <tr> 

        <th>Visitor ID</th> 

        <th>First Seen</th> 

        <th>Last Seen</th> 

        <th>Activities</th> 

        <th>Last Activity</th> 

      </tr> 

    </thead> 

 

    <tbody> 

 

      <tr *ngFor="let visitor of visitors"> 

 

        <td> 

          {{ visitor.anonymousId }} 

        </td> 

 

        <td> 

          {{ visitor.firstSeenAt | date:'short' }} 

        </td> 

 

        <td> 

          {{ visitor.lastSeenAt | date:'short' }} 

        </td> 

 

        <td> 

          {{ visitor.activities }} 

        </td> 